<header>
    <div class="container">
        <nav class="navbar">
            <a href="{% url 'home' %}" class="logo">
                <div class="logo-icon">
                    <i class="fas fa-mountain"></i>
                    <i class="fas fa-snowboarding"></i>
                </div>
                <span>ДИКИЕ ДОСКИ</span>
            </a>
            <div class="nav-links">
                <a href="{% url 'home' %}" class="nav-link">Главная</a>
                <a href="{% url 'menu' %}" class="nav-link">Меню</a>
                <a href="#contacts" class="nav-link">Контакты</a>
            </div>
        </nav>
    </div>
</header>

